body {
    padding-left: 30px;
    padding-right: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.openw{
    color:  #C70039 ;}