.openw{
    color:  #C70039 ;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icolocal:hover{
    color:yellowgreen;
    transform: scale(1,2) ;
}
#mapid { 
    height: 180px;
}