.openw{
    color:  #C70039 ;
}
body{
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icolocal:hover{
    color: #C70039;
    transform: scale3d(1,1,1);
}
